<div class="main">
  <h2 id="title">
    <a href="https://github.com/evocount/ember-scanner">
      Ember-scanner
    </a>
    Demo
  </h2>
  {{!-- {{code-snippet name="code-scanner.hbs"}} --}}
  <div>
    <label for="device">
      Device:
    </label>
    <PowerSelect
      @options={{this.devices}}
      @selected={{this.device}}
      @onChange={{fn (mut this.device)}}
      @searchEnabled={{false}} as |item|
    >
      {{item.label}}
    </PowerSelect>
  </div>
  <CodeScanner
    @device={{this.device.deviceId}}
    @onScanSuccess={{fn (mut this.result)}}
    @onDevicesFound={{fn (mut this.devices)}}
  />
  <p>
    Result:
    {{this.result.text}}
  </p>
</div>
